.programms__wrapper {
    width: 40%;
    margin: 0 auto;
    margin-top: 150px;
}

.programm {
    margin-bottom: 130px
}

.programm__heading {
    font-size: 3rem;
    margin-bottom: 50px;
    text-align: center;
}

.programm__image {
    width: 100%;
    margin-bottom: 40px;
}

.programm__subheading {
    margin-bottom: 20px;
}

.programm__list {
    list-style-type: disc;
}

.programm__item {
    color: rgb(36, 36, 36);
    font-weight: 100;
    margin-bottom: 20px;
}

